.Graphs {

    margin-top: 4rem;

    .dropDowns {
        margin: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-dark-1);
    }
}

.Time {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 1.3rem;

    &__period {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background-color: var(--color-dark-1);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 .3rem 1rem rgba(#000, .7);
        }
    }
}