.Convert {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;

    //1400px
    @media only screen and (max-width: 87.5em) {
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    //770px
    @media only screen and (max-width: 48.13em) {
        justify-content: space-around;
    }

    //630px
    @media only screen and (max-width: 39.38em) {
        justify-content: space-between;
    }

    //600px
    @media only screen and (max-width: 37.5em) {
        flex-direction: column;
        margin-top: 5%;
    }

    &__inputHolder {}

    &__input {
        font-size: 1.5rem;
        width: 25rem;
        border-radius: 10rem;
        border: none;
        height: 3.4rem;
        padding: 1rem 2.5rem;
        // padding-left: 5rem;
        transition: all 0.3s;
        // margin-left: -3.5rem;
        color: #222;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: inset 0 .1rem .5rem rgba(#000, .2);

        &:focus {
            background-color: #ededed;
            outline: none;
        }

        //1100px
        @media only screen and (max-width: 68.75em) {
            width: 20rem;
        }

        //600px
        @media only screen and (max-width: 37.5em) {
            margin-bottom: 5rem;
            width: 100%;
            text-align: center;
        }

        //500px
        @media only screen and (max-width: 31.25em) {
            width: 90vw;
            height: 4rem;
        }
    }

    &__currenciesHolder {
        width: 50rem;
        height: 100%;
        background-color: #fff;
        // margin-top: 30%;

        //1200px
        @media only screen and (max-width: 75em) {
            width: 45rem;
        }

        //600px
        @media only screen and (max-width: 37.5em) {
            width: 100%;
        }
    }

    &__currencies {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 5rem;
        border-bottom: 1px solid #ccc;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: var(--color-dark-1);
    }
}

.instruction {
    font-size: 1.8rem;
    color: var(--charcoal-black);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;

    span {
        color: var(--color-dark-1);
        font-weight: 600;
    }
}