.NavigationItems {
    margin-top: 5rem;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;

    // 770px
    @media only screen and (max-width: 48.13em) {
        flex-direction: row;
        margin-top: 0;
        height: 100%;
    }
}

nav {
    margin-bottom: auto;

    // 770px
    @media only screen and (max-width: 48.13em) {
        margin-bottom: 0;
    }
}

/* Blend */

.Blend {

    // 770px
    @media only screen and (max-width: 48.13em) {
        width: 100%;
    }
}

nav.Blend ul li {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

nav.Blend ul li:hover {
    color: #fff;
}

nav.Blend ul li:before,
nav.Blend ul li:after {
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: var(--color-dark-2);
    transition: all .5s;
    margin: auto;
    content: '.';
    color: transparent;
    z-index: -1;
    opacity: 0.75;
}

nav.Blend ul li:before {
    left: 0;
}

nav.Blend ul li:after {
    right: 0;
}

nav.Blend ul li:hover:after,
nav.Blend ul li:hover:before {
    width: 100%;
}

.icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    margin-right: 4rem;

    // 770px
    @media only screen and (max-width: 48.13em) {
        margin-right: 2rem;
    }

    // //440px
    // @media only screen and (max-width: 27.5em) {
    //     margin-right: .5rem;
    //     height: 1.5rem;
    //     width: 1.5rem;
    // }
}