.FloatingButton {
    position: absolute;
    top: 80%;
    left: 85%;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--color-dark-1);
    border: none;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    &:hover {
        box-shadow: 0 1rem 2rem rgba(#000, .5);
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(2px);
    }
}