.Main {
    flex: 1;
    // background-color: #eee;
    // background-color: var(--color-grey-light-1);
    background-color: #fff;
    position: relative;
    overflow-y: scroll;

    // 770px
    // @media only screen and (max-width: 48.13em) {
    //     height: 90%;
    // }
}