.Header {
    width: 100%;
    height: 8rem;
    // background-color: #eee;
    background-color: #fff;
    // box-shadow: 0 .3rem 1rem rgba(#000, .1);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;

    //500px
    @media only screen and (max-width: 31.25em) {
        justify-content: space-between;
    }
}

.BaseCurrency {

    //770px
    @media only screen and (max-width: 48.13em) {
        margin-left: 1rem;
    }
}

.Search {

    width: 40rem;
    display: flex;
    justify-content: flex-end;
    // margin-right: 2rem;

    // 770px
    @media only screen and (max-width: 48.13em) {
        width: 35rem;
        margin-right: 1rem;
    }

    //690px
    @media only screen and (max-width: 43.13em) {
        width: 30rem;
    }

    //470px
    @media only screen and (max-width: 29.38em) {
        width: 25rem;
    }

    //400px
    @media only screen and (max-width: 25em) {
        width: 22rem;
    }

    //375px
    @media only screen and (max-width: 23.44em) {
        width: 20rem;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-dark-1);
        z-index: 100;
        margin-top: .6rem;
    }

    &__bar {
        font-size: 1.5rem;
        width: 30rem;
        border-radius: 10rem;
        border: none;
        height: 3.4rem;
        padding: 1rem 2.5rem;
        padding-left: 5rem;
        transition: all 0.3s;
        margin-left: -3.5rem;
        color: #222;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: inset 0 .1rem .5rem rgba(#000, .2);

        &:focus {
            background-color: #ededed;
            outline: none;
            width: 100%;
        }

        //770px
        @media only screen and (max-width: 48.13em) {
            width: 25rem;
            margin-right: 1rem;
        }

        //470px
        @media only screen and (max-width: 29.38em) {
            width: 20rem;
        }

        //400px
        @media only screen and (max-width: 25em) {
            width: 18rem;
        }
    }
}

.Header__searchResults {
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 8rem;
    left: 0;

    &__result {
        height: 5rem;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 0 4rem;
        font-size: 1.8rem;

        &:hover {
            background-color: var(--color-dark-2);
            color: #fff;
            cursor: pointer;
        }
    }
}