.App {
    background-image: linear-gradient(to top left, var(--color-dark-1), var(--color-dark-2));
    width: 100%;
    padding: 10rem 0;

    //1000px
    @media only screen and (max-width: 62.5em) {
        padding: 0;
    }
}